/* main styling */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: red;
  }
  
  h1 {
    text-align: center;
    color: #f4f4f4;
  }

  .hidden {
    display: none;
  }

  h2 {
    text-align: center;
  }

  form {
    margin-bottom: 20px;
    text-align: center;
  }
/* pokelist styling */

  .pokelist {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
  }


  .icon {
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
  }

  .icon-img {
    height: 180px;
  }

  #species #type {
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }

  /* Remove default list styling */
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li button {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 8px; 
    text-decoration: none; 
    color: black; 
  }
  
  #myUL li button:hover:not(.header) {
    background-color: #eee; 
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: sticky;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.image-responsive{
  display: block;
  width: 100%;
  max-height: 100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 16px;
  background-color:red;
  color: white;
}

.modal-body {
  padding: 10px 16px;
}
