  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .hidden {
    display: none;
  }

  .pokelist {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon {
    width: 250px;
    flex: 1;
    margin: 10px;
  }